@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playwrite+AR:wght@100..400&display=swap");

body {
  font-size: 15px;
  padding-bottom: 300px;
  position: relative;
}
